:root{
  --buttons-size: 6rem;
  --primary-color: #333333;
  --primary-color-light: #A5A5A5;
  --secondary-color: #FeA104;
}

body, html{
  width:100vw;
  height:100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, var(--buttons-size));
  grid-template-rows: auto repeat(5, var(--buttons-size));
  gap: 8px;

  margin: auto;
  background-color: black;
  padding: .8rem;
  border-radius: 50px 50px 60px 60px;
  box-shadow: 0 0 40px 12px rgb(0 0 0 / .8);
}

#painel{
  grid-column: 1 / -1;
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 4rem;
  color: white;
  padding: .8rem 0 0;
}

.main-buttons, .bottom-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button{
  border: none;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: white;
  font-size: 2.5rem;

  transition: background-color .5s ease-in-out;
}

button:hover{
  background-color: color-mix(in srgb, var(--primary-color), white 20%);
}

button:focus{
  background-color: color-mix(in srgb, var(--primary-color), white 40%);
  transition-duration: .2s;
}

.top-buttons{
  background-color: var(--primary-color-light);
  color: black;
}

.top-buttons:hover{
  background-color: color-mix(in srgb, var(--primary-color-light), white 40%);
}

.top-buttons:focus{
  background-color: color-mix(in srgb, var(--primary-color-light), white 60%);
}

.aside-buttons{
  background-color: var(--secondary-color);
  position: relative;
}

.aside-buttons:hover{
  background-color: color-mix(in srgb, var(--secondary-color), white 20%);
}

.aside-buttons:focus{
  background-color: color-mix(in srgb, var(--secondary-color), white 30%);
}

#zero{
  grid-column: span 2;
  border-radius: 20% / 50%;
  width: 100%;
  text-align: left;
  padding-left: 1.6rem;
}

#sub{
  position: absolute;  
  left: 36px;
  display: flex;
  height: 4px;
  width: 1.4rem;
  background-color: white;
}

#mult{
  transform: rotate(45deg);
  font-size: 2.8rem;
}